@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
.app {
  background-color: #c39005;
  font-family: 'Eagle Lake', cursive;
  color: #5b5b5b;
}

.welcome-header {
  text-align: center;
}

.start-gen-btn {
}

.top-right-items {
  float: right;
  padding: 20px;
}

.race-header {
  text-align: right;
  display: inline-block;
  padding: inherit;
}

.name-header {
  text-align: right;
  display: inline-block;
  padding: inherit;
}

.race-def {
  text-align: right;
  display: inline-block;
  padding: 10px;
}

.name-def { 
  text-align: right;
  display: inline-block;
  padding: 5px;
}